/*Importing merriweather just because that's the one Cookie Clicker uses, lol*/
@font-face {
	src: url(fonts/Merriweather-Regular.ttf);
	font-family: merriweather;
}

.content {
	display: flex;
	flex-direction: row;
	height: 97vh;
	font-family: merriweather, Georgia, serif;
	background-image: url(img/backgroundPicture.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #464646;     
    background-size: cover;
}

.firstTab {
	flex: 2;
	position: relative;
	border: 1px solid black;
}

.secondTab {
	flex: 1;
	position: relative;
	border: 1px solid black;
}

.thirdTab {
	flex: 2;
	position: relative;
	border: 1px solid black;
}

/* ball-animation */
@keyframes bounceBall {
	from {
		transform: scale(1);
	}
	50% {
		transform: scale(1.03);
	}
	to {
		transform: scale(1);
	}
}

.pokeball:active {
	animation-name: bounceBall;
	animation-duration: 0.3s;
}

.pokeball {
	cursor: pointer;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	top: 50%;
}

@keyframes clickNumber {
	from {
		top: 50px;
	}
	to {
		top: 0px;
	}
}
.clickNumber:active {
	animation-name: clickNumber;
	animation-duration: 3s;
}

.clickNumber {
	position: relative;
	font-size: 5vw;
	left: 50%;
}

.inventoryPage {
	position: absolute;
	overflow-y: scroll;
	cursor: pointer;
	top: 10%;
	height: 85%;
}

.inventoryItemModal {
	background-color: orange;
	position: relative;
	border: 1px solid black;
	margin: 5px;
	height: 100px;
	width: 95%;
}

.pokemonImage {
	position: relative;
	width: 15%;
	max-width: 100%;
	max-height: 100%;
	left: 5px;
	transform: translateY(-50%);
	top: 50%;
}

.pokemonInfo {
	position: absolute;
	left: 25%;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
	font-size: 2vw;
}

.countInfo {
	position: absolute;
	left: 85%;
	top: 50%;
	transform: translateY(-50%);
	font-size: 7vw;
	opacity: 0.5;
}

.pokecoin {
	width: 7%;
	transform: translateY(2px);
}

.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background-color: rgba(0, 0, 0, 0.5);
}
.popup\_inner {
	position: absolute;
	left: 25%;
	right: 25%;
	top: 25%;
	bottom: 25%;
	margin: auto;
	border-radius: 20px;
	background: white;
}

.nameChangeModalOverlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.75);
}

.nameChangeModal {
	position: absolute;
	width: 30%;
	top: 30%;
	transform: translate(-50%);
	left: 50%;
	width: 30%;
	bottom: 30%;
	border: 1px solid #ccc;
	background: #fff;
	font-size: 1.5vw;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	border-radius: 4px;
	outline: none;
	padding: 20px;
}



.tooltip-wrapper {
	position: absolute;
	visibility: hidden;
}
.has-tooltip:hover .tooltip-wrapper {
	visibility: visible;
	opacity: 0.7;
	/*top: 30px;*/
	/*left: 50%;*/
	/*margin-left: -76px;*/
	/* z-index: 999; defined above with value of 5 */
}

.tooltip {
	display: block;
	position: relative;
	top: 2em;
	right: 100%;
	width: 140px;
	height: 96px;
	/*margin-left: -76px;*/
	color: #ffffff;
	background: #000000;
	line-height: 96px;
	text-align: center;
	border-radius: 8px;
	box-shadow: 4px 3px 10px #800000;
}
.tooltip:after {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -8px;
	width: 0;
	height: 0;
	border-bottom: 8px solid #000000;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}
