/*Importing merriweather just because that's the one Cookie Clicker uses, lol*/
@font-face {
	src: url(fonts/Merriweather-Regular.ttf);
	font-family: merriweather;
}

.content {
	/*display: flex;
	flex-direction: row;*/
	display: grid;
	grid-template-areas: "firstTab secondTab thirdTab";
	height: 100vh;
	font-family: merriweather, Georgia, serif;
	background-image: url(img/backgroundPicture.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #464646;
	background-size: cover;
}

@media screen and (max-width: 600px) {
	.content {
		width: 100%;
		grid-template-areas:
			"firstTab"
			"secondTab"
			"thirdTab";
	}
}

.firstTab {
	/*flex: 2;*/
	grid-area: firstTab;
	border: 1px solid black;
}

.secondTab {
	/*flex: 1;*/
	grid-area: secondTab;
	border: 1px solid black;
}

.thirdTab {
	/*flex: 2;*/
	grid-area: thirdTab;
	display: grid;
	grid-template-areas:
		"upgrades"
		"pokemon";
	border: 1px solid black;
}

/* ball-animation */
@keyframes bounceBall {
	from {
		transform: scale(1);
	}
	50% {
		transform: scale(1.03);
	}
	to {
		transform: scale(1);
	}
}

.pokeball:active {
	animation-name: bounceBall;
	animation-duration: 0.3s;
}

.pokeball {
	cursor: pointer;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	top: 50%;
}

@keyframes clickNumber {
	from {
		top: 50px;
	}
	to {
		top: 0px;
	}
}
.clickNumber:active {
	animation-name: clickNumber;
	animation-duration: 3s;
}

.clickNumber {
	position: relative;
	font-size: 5vw;
	left: 50%;
}

.upgradeDiv {
	grid-area: upgrades;
	position: relative;
}

[data-tooltip]::before {
	content: attr(data-tooltip);
	position: relative;
	top: 100%;
	left: 0;
	right: 0;
	margin-top: 5px;
	padding: 5px;
	background-color: green;
}

.inventoryPageDiv {
	grid-area: pokemon;
	cursor: pointer;
	top: 10%;
}

.pokemonList {
	overflow-y: scroll;
	height: 75vh;
	padding: 0;
}



.inventoryItemModal {
	background-color: orange;
	display: flex;
	border: 1px solid black;
	margin: 5px;
	width: 95%;
}

.pokemonImage {
	position: relative;
	width: 8vw;
	height: 8vw;
	align-self: center;
	max-width: 100%;
	max-height: 100%;
	left: 1px;
	float: left;
}

.pokemonInfo {
	position: relative;
	left: 5%;
	max-width: 65%;
	z-index: 1;
	font-size: 2vw;
	max-height: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}

.pokemonInfoHover {
	font-size: 1.75vh;
	float: left;
}

.pokecoinHoverDiv {
	position: relative;
	right: 0%;
	top: 0%;
	font-size: 3vw;
}

.countInfo {
	position: relative;
	margin-left: auto;
	font-size: 7vw;
	opacity: 0.5;
}

.pokecoin {
	width: 7%;
	transform: translateY(2px);
}

.pokecoinHover {
	width: 20%;
	transform: translateY(2px);
}

.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background-color: rgba(0, 0, 0, 0.5);
}
.popup\_inner {
	position: absolute;
	left: 25%;
	right: 25%;
	top: 25%;
	bottom: 25%;
	margin: auto;
	border-radius: 20px;
	background: white;
}

.nameChangeModalOverlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.75);
}

.nameChangeModal {
	position: absolute;
	width: 30%;
	top: 30%;
	transform: translate(-50%);
	left: 50%;
	width: 30%;
	bottom: 30%;
	border: 1px solid #ccc;
	background: #fff;
	font-size: 1.5vw;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	border-radius: 4px;
	outline: none;
	padding: 20px;
}

/* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
  
	/* Position the tooltip text */
	position: absolute;
	z-index: 1;
	right: 100%;
	top: 0%;
	transform: translateY(-50%);
  
	/* Fade in tooltip */
	opacity: 0;
	transition: opacity 0.5s;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	transform: rotate(-90deg);
	right: -10px;
	top: 50%;
	border-width: 5px;
	border-style: solid;
	z-index:9999;
	border-color: #333 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
  }